<footer class="footer">
    <div class="container-fluid">
        <nav>
            <ul>
                <li>
                    <a href="viniciusbrito.com.br">
                        Vinicius brito
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>