
<div class="row">
    <div class="col-md-2 pr-1">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" disabled placeholder="id" value="{{usuario.id}}">
        </div>
    </div>
    <div class="col-md-10 px-1">
        <div class="form-group">
            <label>Nome</label>
            <input type="text" class="form-control" placeholder="id" value="{{usuario.name}}">
        </div>
    </div>
</div>

<div class="row">
    <div class="col-md-8 pr-1">
        <label>Email</label>
            <input type="text" class="form-control" placeholder="id" value="{{usuario.email}}">
    </div>
    <div class="col-md-4 pr-1">
        <label>Senha</label>
        <input type="password" class="form-control" placeholder="id" value="{{usuario.password}}">
    </div>
</div>