 <div class="row">
    <div class="col-md-2 pr-1">
        <div class="form-group">
            <label>ID</label>
            <input type="text" class="form-control" disabled placeholder="id" value="{{categoria.id}}">
        </div>
    </div>
    <div class="col-md-10 px-1">
        <div class="form-group">
            <label>Titulo</label>
            <input type="text" class="form-control" placeholder="Titulo" value="{{categoria.titulo}}">
        </div>
    </div>
</div>